*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 60px;
    background-color: burlywood;
    color: white;
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding-top: 10px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 17px;
}

nav ul a{
    text-decoration: none;
    color: white;
    font-size: 24px;

}
.blog-container{
    margin: auto;
    margin-top: 20px;
    height: 200px;
    width: 70%;
    border: 1px solid black;
    background-color: white !important;
    padding: 8px 12px;
    border-radius: 18px;
    overflow: hidden;
}
.blog-container p{
    font-size: 20px;
}

.main-paragraphs{
    text-align: justify;
}
#pencil{
    font-size: 25px;
    margin-top: 90px;
    
}
#pencil:hover{
    cursor: pointer;
}
#delete{
    font-size: 25px;
    margin-top: 90px;
    margin-left: 6px;
    
}
#delete:hover{
    cursor: pointer;
}
.main-paragraphs{
    padding: 10px 25px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    height: 600px;
    overflow-y: scroll;
    border: 1px solid black;
}