{% include "myblog/header1.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <main>
        <div class="main-paragraphs">
        <h1>{{content.heading}}</h1>
        <p style="margin-top:8px">{{content.blog_contents|linebreaksbr}}</p>
        </div>
        <a href="/comment/{{ content.id }}">Click to comment</a>

        {% comment %} <a href="{% url 'comment' blogcontents.id %}">Click to comment.</a> {% endcomment %}

    </main>
{% endblock %}