    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css">
    </head>
    <body style="background-color:#F8F1F6;">
        {% include "myblog/header.html" %}
        {% block content %}
        
        {% endblock %}
        {% include "myblog/footer.html" %}  
        <script src="{% static 'js/script.js' %}"></script>      
    </body>
    </html>